* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header */
header {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  z-index: 9;
  transition: all 0.2s;
}
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__Left img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 50px;
}
.head__Center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head__Center a {
  padding-right: 10px;
  text-decoration: none;
  color: black;
}
.head__Center a:hover {
  color: #fb4226;
  transition: all 0.5s;
}

.head__Right a,
.head__Right span {
  padding-right: 10px;
  text-decoration: none;
  color: #9b9b9b;
}
.head__Right {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  align-items: center;
}

.btn__head {
  background-color: #ffffff00 !important;
  border-color: #ffffff00 !important;
  color: #9b9b9b !important;
  box-shadow: none !important;
}
.dropdown-menu {
  padding-left: 10px;
  top: 50px;
  left: -113px;
}
.selectScroll {
  max-height: 300px;
  overflow-y: scroll;
}
.selectScroll::-webkit-scrollbar {
  width: 4px;
  background-color: #e8e3e3;
}
.selectScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.selectScroll li {
  display: block;
}
.selectScroll li:hover {
  background-color: #60c5ef;
  cursor: pointer;
}
.btn__menu {
  background-color: #9b9b9b;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  #sideMenu .wrapMenuMobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .head__Center {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .head__Right {
    display: none !important;
  }
}
/* Slide Menu */
#sideMenu.active {
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: inherit;
}
#sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;

  overflow: hidden;
  transition: all 0.4s;
}
#sideMenu .wrapMenuMobile {
  position: relative;
  left: 30%;
  top: 0;

  width: 70%;
  height: 100%;
  background: #fff;
  transition: all 0.4s;
  overflow: hidden;
  overflow-y: scroll;
}
#sideMenu .wrapMenuMobile .wrapFirst {
  padding: 10px;
  position: relative;
}
#sideMenu .menu {
  display: block;
  padding: 20px;
  position: relative;
  width: calc(100% - 40px);
  font-size: 18px;
  color: #000;
}
/* carousel */

.bg__item img {
  width: 100%;
}
.bg__image {
  margin-top: 60px;
}
.btn__trailer {
  opacity: 0;
  transition: all 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bg__item:hover {
  cursor: pointer;
}
.bg__item:hover .btn__trailer {
  opacity: 1;
  border-radius: 50%;
  border: none !important;
}
.play {
  transition: all 1s;
  padding: 30px;
  border-radius: 100%;
  color: white;
  border: 2px solid white;
  margin-bottom: 20px;
}
.play:hover {
  opacity: 0.5s;
}
.bg__Control {
  width: 5%;
}
.circle {
  margin-bottom: 80px;
}
.circle li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: white;
  opacity: 1;
}
.circle .active {
  background-color: #fb4226;
}
@media screen and (max-width: 768px) {
  .circle {
    display: none;
  }
}
/* Home toll */
.home__Tool {
  position: relative;
  top: -40px;
  display: block;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.home__Tool:hover {
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .home__Tool {
    display: none;
  }
}
.home__Tool__item {
  padding: 20px 5px;
  align-items: center;
}
.btn__homeToll {
  padding: 0.375rem 1.75rem;
}
/* Gallery */

.title__heading a {
  padding-right: 20px;
  color: black;
}
.tieude__Gallery {
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  margin-top: 20px;
}

.nav-tabs .nav-link.active {
  border: none;
  color: #fb4226;
  font-size: 24px;
}
.nav-tabs .nav-link {
  transition: all 0.5s;
  border: none;
}
.nav-tabs .nav-link:hover {
  border: none;
  font-size: 24px;
}
.title__heading a:first-child {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.newin__item {
  border: none;
}
.newin__dad {
  padding: 30px 30px;
}
.newin__item img {
  border-radius: 8px;
  width: 100%;
}
@media (max-width: 600px) {
  .newin__item img {
    width: 100%;
  }
}
.danhGia {
  font-size: 18px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
  width: 60px;
}
.danhGia .danhGia__start {
  font-size: 8px;
  color: #fb4226;
}
.slick-next:before,
.slick-prev:before {
  color: #ec7532;
}
.ages {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}
.ages_P {
  font-size: 14px;
  background-color: #00ac4d;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}
.newin__item .ten__Phim {
  font-size: 16px;
  color: #4a4a4a;
  line-height: 1.4em;
  font-family: inherit;
  font-weight: 600;
}

.overlay__new {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.overlay__new::before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -40%;
  width: 0;
  height: 100%;
  content: "";
  opacity: 0.9;

  background: linear-gradient(to top, #000, transparent 100%);
  transition: 0.5s;
}
.overlay__new:hover.overlay__new::before {
  width: 200%;
}
.overlay__new .overlaynew__content {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  transition-delay: 0.1s;
  transform: scale(0.9);
  text-align: center;
  opacity: 0;
  align-items: center;
}
.overlay__new:hover .overlaynew__content {
  opacity: 1;
  cursor: pointer;
}
.muave {
  position: relative;
}
.noi__DungPhim {
  position: absolute;
  top: 0;
}
.newin__item:hover .noi__DungPhim {
  opacity: 0;
}
.btn__noiDungPhim {
  opacity: 0;
}
.newin__item:hover .btn__noiDungPhim {
  opacity: 1;
}

.newin__item:hover .noi__DungPhim {
  opacity: 0;
}

.overlaynew__text {
  width: 100%;
  color: white;
}
.overlaynew__text i {
  padding: 30px;
  border-radius: 100%;
  color: white;
  border: 2px solid white;
  margin-bottom: 20px;
}
.slick-prev:before {
  content: "<";
}
.slick-next:before {
  content: ">";
}


.cinema {
  padding-bottom: 40px;
}

.cinema .cinema__bg__img {
  background-image: url(../image/back-news.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 120px;
}

.cinema .cinema__bg__img .cinema__time__table {
  display: flex;
}

.cinema .cinema__bg__img ul.nav {
  width: 92px;
  margin: 0 !important;
  border: 1px solid #ebebec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.cinema .cinema__bg__img ul.nav li a {
  padding: 20px;
  position: relative;
}

.cinema .cinema__bg__img ul.nav li a::after {
  content: "";
  position: absolute;
  width: calc(100% - 40px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid;
  border-color: rgba(238, 238, 238, 0.88);
}

.cinema .cinema__bg__img ul.nav li a.active img {
  opacity: 1;
}

.cinema .cinema__bg__img ul.nav li a img {
  width: 50px;
  opacity: 0.5;
}

.cinema .cinema__bg__img .tab-content {
  width: 30%;
  border: 1px solid #ebebec;
  border-left: none;
}

.cinema .cinema__bg__img .tab-content .tab-pane {
  padding-left: 20px;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-bottom: 1px solid red;
  border-color: rgba(238, 238, 238, 0.88);
  transform: translateX(-50%);
  width: 100%;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information a.nav-link {
  padding: 0;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information img {
  width: 50px;
  height: 50px;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information .cinema__info {
  padding-left: 5px;
  display: block;
  width: calc(100% - 50px);
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information .cinema__info span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.4;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information .cinema__info span:nth-child(2) {
  color: #949494;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information .cinema__info span a {
  text-decoration: none;
  color: #fb4226;
  font-size: 12px;
}

.cinema .cinema__bg__img .tab-content .tab-pane .cinema__information .cinema__info .tenRap {
  color: #8bc541;
  display: inline;
}

.cinema .cinema__bg__img .tab-content .tab-pane .opa-05 {
  opacity: 0.5;
}

.cinema .maxWidth {
  max-width: 940px;
}

.cinema .time {
  width: calc(100% - 30% - 92px) !important;
  border: 1px solid #ebebec;
  border-left: none;
}

.cinema .time p {
  text-align: center;
  padding-top: 10px;
}

.thongTin .thongTin__bg__img {
  background-image: url(../image/back-news.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 120px;
}

.thongTin .maxWidth {
  max-width: 940px;
}

.thongTin ul {
  justify-content: center;
  align-items: center;
}

.thongTin ul li a {
  color: black;
  font-size: 20px;
  transition: all 0.3s;
}

.thongTin ul li a.active {
  color: #fa5238;
  font-size: 24px;
  transform: none !important;
}

.thongTin ul li a:hover {
  font-size: 24px;
}

.thongTin .tab-pane .News__tren {
  margin-bottom: 20px;
}

.thongTin .tab-pane .News__tren a {
  display: block;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: bold;
  height: 42px;
  margin-top: 10px;
}

.thongTin .tab-pane .News__tren a:hover {
  color: #fb4226;
}

.thongTin .tab-pane .News__tren p {
  font-size: 13px;
  text-align: justify;
  height: 55px;
}

.thongTin .tab-pane .News__tren .News__icon {
  display: flex;
  align-items: center;
}

.thongTin .tab-pane .News__tren .News__icon .like {
  margin-right: 20px;
}

.thongTin .tab-pane .News__tren .News__icon img {
  width: 18px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.2s;
}

.thongTin .tab-pane .News__tren .News__icon img:hover {
  width: 22px;
  height: auto;
}

.thongTin .tab-pane .News__tren .News__icon span {
  color: #bbb;
  font-size: 12px;
}

.thongTin .tab-pane .News__tren img {
  width: 100%;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}

.thongTin .tab-pane .News__duoi img {
  width: 100%;
  border-radius: 4px;
  display: block;
  cursor: pointer;
}

.thongTin .tab-pane .News__duoi a {
  display: block;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: bold;
  height: 42px;
  margin-top: 10px;
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thongTin .tab-pane .News__duoi a:hover {
  color: #fb4226;
}

.thongTin .tab-pane .News__duoi p {
  font-size: 13px;
  text-align: justify;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thongTin .tab-pane .News__duoi .News__icon {
  display: flex;
  align-items: center;
}

.thongTin .tab-pane .News__duoi .News__icon .like {
  margin-right: 20px;
}

.thongTin .tab-pane .News__duoi .News__icon img {
  width: 18px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  transition: all 0.2s;
}

.thongTin .tab-pane .News__duoi .News__icon img:hover {
  width: 22px;
  height: auto;
}

.thongTin .tab-pane .News__duoi .News__icon span {
  color: #bbb;
  font-size: 12px;
}

.thongTin .tab-pane .News__duoi .News__right__item .chua__anh {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.thongTin .tab-pane .News__duoi .News__right__item a {
  margin-top: 0;
  width: calc(100% - 60px);
}

.thongTin .tab-pane .News__duoi .News__right__item a p {
  opacity: 0.7;
  font-size: 16px;
}

.thongTin .tab-pane .News__duoi .News__button {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.thongTin .tab-pane .News__duoi .News__button button {
  text-transform: uppercase;
  padding: 7px 15px;
  border: 1px solid #949494;
  color: #949494;
  margin-top: 35px;
  margin-bottom: 20px;
  transition: all 0.2s;
}

.thongTin .tab-pane .News__duoi .News__button button:hover {
  color: white;
  background-color: #fb4226;
  border-color: #fb4226;
}

/*
    App
*/
.app #bg__image {
  background-image: url(../image/app/backapp.jpg);
  padding: 120px 0 80px 0;
  background-size: contain;
}

.app #bg__image .maxWidth {
  max-width: 940px;
}

.app #bg__image .app__left {
  padding-top: 60px;
}

.app #bg__image .app__left h1, .app #bg__image .app__left p {
  color: white;
  margin-bottom: 0;
}

.app #bg__image .app__left p {
  font-size: medium;
}

.app #bg__image .app__left p a {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
}

.app #bg__image .app__left #textAppUnder {
  padding-top: 10px;
}

.app #bg__image .app__left button.btn-danger {
  background-color: #fb4226;
  font-size: medium;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 4px;
}

.app #bg__image .app__right {
  position: relative;
}

.app #bg__image .app__right .phone_img {
  padding: 0 28%;
}

.app #bg__image .app__right img {
  width: 100%;
}

.app #bg__image .app__right .slick__list {
  padding: 0 30.2% 0 30.2%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.app #bg__image .app__right .slick__list .slick-slider {
  overflow: hidden;
  border-radius: 20px;
}

/*
    Footer
*/
footer {
  background-color: #222;
  padding: 20px 0;
}

footer .maxWidth {
  max-width: 940px;
}

footer .thongtin__tieude {
  color: white;
  font-size: 80%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer .footer__tren .footer__thongtin a {
  text-decoration: none;
  color: #949494;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin: 5px 0;
  white-space: nowrap;
}

footer .footer__tren .footer__thongtin a:hover {
  color: #fff;
}

footer .footer__tren .footer__thongtin .thongtin__content .col-6 {
  padding-left: 0 !important;
}

footer .footer__tren .footer__doitac .doitac__img {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 15px;
  border-radius: 50%;
}

footer .footer__tren .footer__doitac .row {
  flex-wrap: nowrap !important;
  margin-bottom: 15px;
}

footer .footer__tren .footer__doitac a {
  transition: opacity .3s;
}

footer .footer__tren .footer__doitac a:hover {
  opacity: .7;
}

footer .footer__tren .footer__mobile, footer .footer__tren .footer__social {
  text-align: center;
}

footer .footer__tren .footer__mobile a, footer .footer__tren .footer__social a {
  text-decoration: none;
}

footer .footer__tren .footer__mobile a img, footer .footer__tren .footer__social a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

footer .footer__hr {
  border-top: 1px solid #4a4a4a;
}

footer hr {
  margin: 20px 0;
  border: 0;
}

footer .footer__duoi .col-1 img {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

footer .footer__duoi .col-9 {
  padding-left: 30px;
}

footer .footer__duoi .col-9 span {
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

footer .footer__duoi .col-9 span:first-child {
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

footer .footer__duoi .col-9 span a {
  text-decoration: none;
  color: #FB4226;
}

footer .footer__duoi .col-2 img {
  width: 130px;
}

@media screen and (max-width: 425px) {
  .cinema {
    display: none;
  }
  .thongTin .thongTin__bg__img {
    padding-top: 60px;
  }
  .thongTin ul li a.active {
    font-size: 18px;
  }
  .thongTin ul li a {
    font-size: 16px;
  }
  .thongTin .tab-pane .row {
    flex-direction: column;
  }
  .thongTin .tab-pane a.News__title {
    height: auto !important;
  }
  .thongTin .tab-pane .News__tren {
    margin-bottom: 0;
  }
  .thongTin .tab-pane .News__tren p {
    height: auto;
    margin-bottom: 0;
  }
  .thongTin .tab-pane .News__tren .col-6 {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .thongTin .tab-pane .News__tren a {
    height: 50px;
  }
  .thongTin .tab-pane .News__tren .News__icon {
    display: none;
  }
  .thongTin .tab-pane .News__duoi p {
    margin-bottom: 0;
  }
  .thongTin .tab-pane .News__duoi .col-4 {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .thongTin .tab-pane .News__duoi .News__icon {
    display: none;
  }
  .app #bg__image .app__right {
    max-width: 100%;
  }
  .app #bg__image .app__right .slick__list {
    padding: 4px 32.3% 0 32.3%;
  }
  .app #bg__image .app__right .phone_img {
    padding: 0px 30%;
  }
  .app .maxWidth .row {
    flex-direction: column;
  }
  .app .app__left {
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .app .app__left h1 {
    font-size: 1.8em;
  }
  footer .footer__tren {
    text-align: center;
    flex-direction: column;
  }
  footer .footer__tren .col-4 {
    max-width: 100%;
  }
  footer .footer__tren .footer__thongtin .thongtin__content {
    justify-content: center;
  }
  footer .footer__tren .footer__thongtin .thongtin__content .col-6:first-child {
    display: none;
  }
  footer .footer__tren .footer__thongtin .thongtin__content .col-6:nth-child(2) {
    display: flex;
  }
  footer .footer__tren .footer__thongtin .thongtin__content .col-6:nth-child(2) a {
    margin: 5px;
  }
  footer .footer__tren h1 {
    display: none;
  }
  footer .footer__tren .footer__doitac {
    display: none;
  }
  footer .footer__tren .footer__mobile, footer .footer__tren .footer__social {
    display: none;
  }
  footer .footer__tren .footer__social {
    display: block;
    display: flex;
    max-width: 100%;
    justify-content: center;
  }
  footer .footer__duoi {
    flex-direction: column;
  }
  footer .footer__duoi div {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .app .maxWidth .row {
    flex-direction: column;
  }
  .app #bg__image .app__right {
    max-width: 100%;
  }
  .app #bg__image .app__right .slick__list {
    padding: 14px 30.2% 0px 30.2%;
  }
  .app .app__left {
    text-align: center;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .app .app__left h1 {
    font-size: 1.8em;
  }
  footer .footer__tren {
    width: 100%;
  }
  footer .footer__duoi {
    width: 100%;
  }
  footer .footer__duoi .col-9 {
    text-align: center;
  }
  footer .footer__duoi .col-2 {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */